{% extends "layouts/main.html" %}

{% block pageTitle %}
  Geospatial test and learn - The story so far
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "gtl-context"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
       Deeds
      </h1>

      <strong class="govuk-tag">
        DRAFT CONTENT
      </strong>
      <br><br>

      <h2 class="govuk-heading-m">
        What is the problem?
      </h2>
      <p>Test and Learn are looking to solve the “Copy Filed issue” by extracting data from deeds for entry directly onto the Land Register. </p>
      <p>“Copy Filed” is where a deed is lodged for registration and contains information (easements, covenants, restrictions) that requires entry on the register and only a short form entry is made on the register itself stating that a copy of the deed has been filed, whilst the deed itself has been retained by HMLR as a complete document. This means the register does not contain full details of interests affecting property. </p>
      <p>This practice causes issues for customers (who are required to purchase copies of deeds to understand the full details of the register) and presents a challenge to the development of a Geospatial Register (where, potentially, all information is presented together on a map). </p>
      <p>Test and Learn’s Data Science team will investigate suitable methodologies to extract the data from retained deeds - for inclusion on a potential Geospatial Register. </p>

      <h2 class="govuk-heading-m">
        What did we do?
      </h2>

      <h2 class="govuk-heading-m">
        Why does it matter?
      <p> </p>

    </div>

    <div class="govuk-grid-column-one-third">
      <!-- navigation information  -->
        {% include "./includes/side-navigation.html" %}
      <!-- end - navigation information  -->
    </div>
    
  </div>

{% endblock %}
