{% extends "layouts/main.html" %}

{% block pageTitle %}
  Geospatial test and learn - The story so far
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/index"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        The story so far
      </h1>

      <strong class="govuk-tag">
        DRAFT CONTENT
      </strong>
      <br><br>

      <p>For over 150 years HMLR have registered land in England and Wales.</p> 
        <p>For over 100 years this process was entirely paper based, with professionals drafting plans with inks and precise detail.</p>
          <p> In the last 30 years, HMLR has undergone significant digital transformation, moving paper processes online and storing vast quantities of data digitally.</p> 
          <strong class="govuk-tag">
            HMLR OFFICE?
          </strong>
          <br><br>
            <p>And yet, the world outside the walls of our offices has continued to evolve at a rapid pace and our systems are creaking under the strain of new requirements and a speed which they were never built to accomodate. We're on the edge of a new age for the organisation and the core of that change will be tied to geospatial transformation.
      </p>

      <p>That's were we come in. In order for the ambition of a <a href="overview.html">geospatial register</a> to be achieved, the spatial data that HMLR holds can't remain in it's current format. The Geospatial Pioneers team are investigating and experimenting with methods to free our data from it's current context and build capabilities to interact with data geospatially. The transformation is not just about creating something new, but also addressing existing risks and legacy constraints such as moving away from proprietary formats and using paper plans and deeds.</p>
      <strong class="govuk-tag">
        IMAGE OF TEAM?
      </strong>
      <br><br>

<h2 class="govuk-heading-m">How are we doing that?</h2>
<p>More important than the tools that we use or the methods that we've tested, is our philosophy for the mammoth task of data transformation. This isn't the first time that HMLR have considered transforming data, but in the past each of these efforts has ended with disappointment and the conclusion that data transformation at the scale we need it just wouldn't be feasible. The outlook had been bleak when considering some of the plans which would need to be transformed, with many colours, textures, unclear labels and overlapping greenouts, were near impossible for even an expert caseworker to interpret confidently.</p>
      <!--
      <h2 class="govuk-heading-m">
        Benefits of our work
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><strong>Freeing HMLR's data from it's current context</strong> - enabling the development of future digital services and increased automation.</li>
        <li><strong>Building the capability to interact with data geospatially</strong> - the ability to search and interrogate data spatially, enabling interests or titles to be identified by geographic location. </li>
        <li><strong>Addressing risks to HMLR</strong> - Legacy constraints are removed, moving away from proprietary formats, paper plans and data retained in deeds.</li>
      </ul>

        <p>There are 6 key areas of the work which support this aim</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Create data from <a href= 'rasters'>raster title plans</a></li>
        <li>Convert vector <a href='transform-tmf'>(TMF) data</a> to an open data format</li>
        <li>Match textual and spatial register data</li>
        <li>Extract text from <a href='deeds'>deeds</a></li>
        <li>Join text from deeds to the combined textual and spatial data</li>
        <li>Visualise the result</li>
      </ul>
     
      <p>To validate the results in the Bristol 5K, the team are also testing methods using data from 3 local authorities: Gloucester, Manchester and Bournemouth. </p>

      <img src="/public/images/bristol-map2.png" alt="Map of Bristol with " style="width:600px;height:450px;">
-->
      <img src="/public/images/starting-complex.png" alt="Man on the phone surrounding by complex title plans" style="width:600px;height:650px;">

      <p>Previous attempts considered that if complexity is inevitable at some stage then that complexity should be the priority to understand if large scale transformation is even feasible. Our philosophy approaches this thinking from the other direction, as significant complexity is unlikely to exist in the majority of plans, lets start simple and build in that complexity over time. A simple change of perspective, but one which has been foundational to what Geospatial Pioneers have been able to achieve.</p> 
      <img src="/public/images/starting-simple.png" alt="Man with his finger in the air, surrounding by neatly organised title plans" style="width:600px;height:650px;">
        <p>Testing with this ethos has given us methods which can transform 97% of our proprietary data (TMF) in open formats. The analysis of raster plans has revealed that around 80% contain red edged (ownership extents) only and has validated our assumption that simplicity is the base line for the majority of plans. The team have also demonstrated the success of a matching capability for these extents, with a confirmed 98.8% accuracy following manual quality assurance.</p>
      
      <img src="/public/images/building-complexity.png" alt="View of a residential area with blocks showing ownership extents and other interests" style="width:750px;height:500px;">
     <!-- {{ govukButton({
        text: "Start now",
        href: "map-test",
        isStartButton: true
      }) }} -->
<br>
      <h2 class="govuk-heading-m">
        So what are Test and Learn doing?
      </h2>

      <p>
        Test and Learn is testing methods to build the capabilities to build a geospatially enabled register. Much like building a house, there's a lot that needs to be done before you can start building. 
        This includes getting the right tools in place, figuring out the right materials to use and understanding which methods will work: Test and Learn is working in all of these areas to understand how HMLR can create those building blocks. 
        Our ethos is to <a href='ethos'>start simple</a>, working with the most common elements, and then build in complexity as we go.
        
        <p>First digging for the clay, identifying existing problem areas, looking at the TMF, considering extraction from deeds etc.</p>
            <img src="/public/images/clay-1.png" alt="Illustration of person digging clay" style="width:500px;height:318px;">

        <p> The team then tested ways of transforming those raw materials into something new and useable.</p>
            <img src="/public/images/clay-2.png" alt="Illustration of forming bricks" style="width:500px;height:318px;">

        <p>These methods were tested to check how well they stand up. Like firing bricks, this helps us to see where issues might lie and get a good sense of what works, pretty much testing each method to breaking point.</p>
            <img src="/public/images/clay-3.png" alt="Illustration of firing bricks" style="width:500px;height:318px;">

        <p>And from the successful methods, we were able to visualise that result, laying the foundations for the ambition of a geospatial register.</p>
            <img src="/public/images/clay-4.png" alt="Illustration of laying bricks" style="width:500px;height:318px;">

        <p>Test and learn isn't building the house, but providing methods for making house building possible - from there the Geospatial Register could still take many forms.</p>
            <img src="/public/images/houses.png" alt="Illustration of different types of houses" style="width:740px;height:180px;">
       
            <p>Test and Learn is not about building a service or building the register, but instead figuring out how it might be possible. The answers are not all there, and there is no case study which takes into account the myriad of complexities in HMLR's <a href='#'>data and practices</a>.</p> 
              <p>This work is therefore vital to support the future ambitions of the business and move forward from a sure foundation and understanding. The work from the Test and Learn team represents a signifcant improvement to our knowledge about the register and the methods for modernizing it.</p>
    </div>

    <div class="govuk-grid-column-one-third">
      <!-- navigation information  -->
        {% include "./includes/side-navigation.html" %}
      <!-- end - navigation information  -->
  </div>

  </div>

{% endblock %}
