{% extends "layouts/main.html" %}

{% block pageTitle %}
  Geospatial test and learn - The story so far
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "gtl-context"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
       Matching textual and spatial data
      </h1>

      <strong class="govuk-tag">
        DRAFT CONTENT
      </strong>
      <br><br>

      <p>HMLR's current data is held separately as textual and spatial data. One of the features in Test and Learn is investigating methods to match extual and spatial register entries and create a link between the two.</p>
      <p>GTL’s Data Science team are developing an automated method to create digital links between textual register entries references on the Casework Mapping System (CMS)</p>

        <p>In addition, an Annotation Tool is being developed to enable the provision of a “gold standard dataset” that has been matched manually - to quality assure the digital method against.</p>

      <img src="/public/images/matching-vis.png" alt="illustration showing different layers linked to entry snippets" style="width:510px;height:600px;">

      <h2 class="govuk-heading-m">
        What did we do?
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Build a new environment in Amazon sage maker</li>
        <li>Import spatial and textual data for 250,00 titles </li>
        <li>Publish a data model on OPD</li>
        <li>Imported Spatial data from DB2 and transformed from TMF</li>
        <li>Selected 3 LA Areas based on their make-up – Manchester (urban), S Gloucs (Rural) Bournemouth, Christchurch and Poole (mixed and coastal) </li>
        <li>Obtained textual data from IAP and copied to our SW storage to enable full text view. </li>
      </ul>

      <h2 class="govuk-heading-m">
        Why does it matter?
      </h2>

      <h2 class="govuk-heading-m">
        Methods tested
      </h2>

      <h3 class="govuk-heading-s">
        Grouping
      </h3>

      <h3 class="govuk-heading-s">
        Performing the match
      </h3>

      <h3 class="govuk-heading-s">
        Annotation tool
      </h3>

    </div>

    <div class="govuk-grid-column-one-third">
      <!-- navigation information  -->
        {% include "./includes/side-navigation.html" %}
      <!-- end - navigation information  -->
    </div>
    
  </div>

{% endblock %}
