{% extends "layouts/main.html" %}

{% block pageTitle %}
  Geospatial test and learn - The story so far
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "gtl-context"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
       Visualisation demo
      </h1>

      <strong class="govuk-tag">
        DRAFT CONTENT
      </strong>
      <br><br>

      <p>To demonstrate the progress made by the Test and Learn team, the data that has been transformed and digitised will be incorporated into a visual demo or proof of concept.
        This demo shows the progress of work and does not show a view of what a potential geospatial register might look like.
      </p>
      <p> This will deliver the following value:</p>

      <ul class="govuk-list govuk-list--bullet">
       <li>More data will be incorporated into the PoC to demonstrate our progress.</li>
        <li>Improvements made to the visualisation of the PoC will improve the user experience.</li>
        <li>Stakeholders will need to be able to see the progress being made in Test & Learn. The PoC is our visualisation tool to enable the Team to share this progress.</li>
      </ul>
      <h2 class="govuk-heading-m">
        What did we do?
      </h2>
      <p>The PoC built on the earlier Discovery work to demonstrate how HMLR’s geospatial data could be transformed, structured, and used in a modern geospatial environment. </p>

      <h2 class="govuk-heading-m">
        What did we prove?
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>It is possible to convert TMF data reliably – the previous Discovery had already proven conversion works at scale.</li>
         <li>PoC confirmed the data can be stored, queried, displayed, and interacted with in a modern geospatial tech stack.</li>
         <li>TMF and historic practices create significant data quality challenges.</li>
         <li>Matching geospatial and textual data is possible.</li>
         <li>The current register is highly title centric.</li>
         <li>The PoC demonstrated the benefits of moving towards a Place-Party-Interest model aligned with LADM.
       </ul>
      <img src="/public/images/poc-data.png" alt="Illustration showing the raster and tmf data" style="width:630px;height:375px;">
      <br><br>

      <h2 class="govuk-heading-m">
       Significant opportunities for future services
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Boundary information services (“what do you know about my boundary?”)</li>
        <li>Spatially navigable interest layers (easements, covenants, rights, restrictions)</li>
         <li>Better support for caseworkers and external users</li>
      </ul>

      <p>To view the working demo, contact Rob Davidson.</p>
    </div>

    <div class="govuk-grid-column-one-third">
      <!-- navigation information  -->
        {% include "./includes/side-navigation.html" %}
      <!-- end - navigation information  -->
    </div>
    
  </div>

{% endblock %}
