
<div class="govuk-button-group">
  <a href="caseworker-view-both-titles" role="button" draggable="false" class="govuk-button govuk-button--secondary" style="background-color: #DBDAD9; margin-right:12.5px;"
  data-module="govuk-button">
  Overview
  </a>
  <a href="caseworker-view-old-title" role="button" draggable="false" class="govuk-button govuk-button--secondary" style="margin-right:12.5px"
  data-module="govuk-button">
  Old title
</a>
<a href="caseworker-view-new-title" role="button" draggable="false" class="govuk-button govuk-button--secondary" style="margin-right:12.5px"
data-module="govuk-button">
New title
</a>
</div>

          <h2 class="govuk-heading-l">DX121778</h2>

          <strong class="govuk-tag govuk-tag--red">
                OLD TITLE
          </strong>
    <br><br>
        <div>
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Type of title</th>
                <td class="govuk-table__cell">Freehold</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Title class</th>
                <td class="govuk-table__cell">Absolute</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Address</th>
                <td class="govuk-table__cell">67 Cotham Grove</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Proprietor to be registered</th>
                <td class="govuk-table__cell">Callum Scott</td>
              </tr>
            </tbody>
          </table>
        </div>

        
          <h2 class="govuk-heading-l">DX123670</h2>

      <strong class="govuk-tag govuk-tag--green">
            NEW TITLE
      </strong>
<br><br>
    <div>
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Type of title</th>
            <td class="govuk-table__cell">Freehold</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Title class</th>
            <td class="govuk-table__cell">Absolute</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Address</th>
            <td class="govuk-table__cell">Land to the front of 26 Cotham Grove</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Proprietor to be registered</th>
            <td class="govuk-table__cell">Maria Truscott</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
        <legend class="govuk-fieldset__legend">
         <b>Intersecting interests</b>
        </legend>
        <!-- <div id="waste-hint" class="govuk-hint">
          Select all that apply
        </div> -->
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="interest" name="interest" type="checkbox" value="covenant">
            <label class="govuk-label govuk-checkboxes__label" for="interest">
              Restrictive covenant (land tinted blue)
            </label>
          </div>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
               More information
              </span>
            </summary>
            <div class="govuk-details__text">
              Entry C1: A Transfer dated 24 May 1950 made between (1) David Brown and Mary Brown and (2) Jonathan Evans contains the following covenants:-<br>
              The Purchaser with the intent to bind the land and for the benefit of the adjoining estate covenants with the Vendor as follows:<br>
              Not to carry out any trade or business on the land shown coloured yellow on the attached plan.<br>
              <i>Note: The land coloured yellow referred to is tinted blue on the title plan.</i>
            </div>
          </details>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="interest-2" name="interest" type="checkbox" value="easement">
            <label class="govuk-label govuk-checkboxes__label" for="interest-2">
              Easement (land tinted brown)
            </label>
          </div>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
               More information
              </span>
            </summary>
            <div class="govuk-details__text">
              Entry A2: The land has the benefit of the following legal easement granted by a Transfer dated 24 May 1950 referred to in the Charges Register:- <br>
              The Transferor grants upon the Purchaser and his successors in title for the benefit of the property hereby transferred a right of way on foot over the driveway shown coloured brown on the attached plan.<br>
              <i>Note: The land driveway coloured brown referred to is tinted brown on the title plan.</i>
            </div>
          </details>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="interest-3" name="interest" type="checkbox" value="mines">
            <label class="govuk-label govuk-checkboxes__label" for="interest-3">
              Mines and minerals (land tinted orange)
            </label>
          </div>
          
        </div>
      </fieldset>
    </div>