<style>
  .square {
    height: 50px;
    width: 50px;
    background-color: #3a3b26;
  }

  .square1 {
    height: 50px;
    width: 50px;
    background-color: #eeefda;
    border-style: solid;
    border-color: #000000;
  }

  .square2 {
    height: 50px;
    width: 50px;
    background-color: #dcd7c6;
    border-style: solid;
    border-color: #000000;
  }

  .square3 {
    height: 50px;
    width: 50px;
    background-color: #e6dddd;
    border-style: solid;
    border-color: #000000;
  }

  .square4 {
    height: 50px;
    width: 50px;
    background-color: #fcfdff;
    border-style: solid;
    border-color: #000000;
  }
  
  .square5 {
    height: 50px;
    width: 50px;
    background-color: #d6d2d2;
    border-style: solid;
    border-color: #000000;
  }

  .square6 {
    height: 50px;
    width: 50px;
    background-color: #eee8d3;
    border-style: solid;
    border-color: #000000;
  }

  .square7 {
    height: 50px;
    width: 50px;
    background-color: #dcdcdb;
    border-style: solid;
    border-color: #000000;
  }

  .square8 {
    height: 50px;
    width: 50px;
    background-color: #aadeef;
    border-style: solid;
    border-color: #000000;
  }

  .square9 {
    height: 50px;
    width: 50px;
    background-color: #e8cfcc;
    border-style: solid;
    border-color: #000000;
  }

  .square10 {
    height: 50px;
    width: 50px;
    background-color: #cee6bd;
    border-style: solid;
    border-color: #000000;
  }

  .square11 {
    height: 50px;
    width: 50px;
    background-color: #d6edcf;
    border-style: solid;
    border-color: #000000;
  }

  .square12 {
    height: 50px;
    width: 50px;
    background-color: #e2efce;
    border-style: solid;
    border-color: #000000;
  }

  .square13 {
    height: 50px;
    width: 50px;
    background-color: #eaeae4;
    border-style: solid;
    border-color: #000000;
  }

  .square14 {
    height: 50px;
    width: 50px;
    background-color: #e4f3f4;
    border-style: solid;
    border-color: #000000;
  }

  .square15 {
    height: 50px;
    width: 50px;
    background-color: #f4f0d3;
    border-style: solid;
    border-color: #000000;
  }

  .square16 {
    height: 50px;
    width: 50px;
    background-color: #e8e4dd;
    border-style: solid;
    border-color: #000000;
  }

  .square17 {
    height: 50px;
    width: 50px;
    background-color: #eaead3;
    border-style: solid;
    border-color: #000000;
  }

  .square18 {
    height: 50px;
    width: 50px;
    background-color: #669966;
    border-style: solid;
    border-color: #000000;
  }  

  .square19 {
    height: 50px;
    width: 50px;
    background-color: #666666;
    border-style: solid;
    border-color: #000000;
  }  

  .square20 {
    height: 50px;
    width: 50px;
    background-color: #dcd7c6;
    border-style: solid;
    border-color: #000000;
  }  

  .square21 {
    height: 50px;
    width: 50px;
    background-color: #e4efda;
    border-style: solid;
    border-color: #000000;
  } 
  
  .square22 {
    height: 50px;
    width: 50px;
    background-color: #f2f2e9;
    border-style: solid;
    border-color: #000000;
  } 

  .square23 {
    height: 50px;
    width: 50px;
    background-color: #fcfdff;
    border-style: solid;
    border-color: #000000;
  } 

  .square24 {
    height: 50px;
    width: 50px;
    background-color: #dde6d5;
    border-style: solid;
    border-color: #000000;
  } 

  .square25 {
    height: 50px;
    width: 50px;
    background-color: #cccbcb;
    border-style: solid;
    border-color: #000000;
  } 

  .square26 {
    height: 50px;
    width: 50px;
    background-color: #dce5d3;
    border-style: solid;
    border-color: #000000;
  } 

  .square27 {
    height: 50px;
    width: 50px;
    background-color: #e7c9c8;
    border-style: solid;
    border-color: #000000;
  } 

  .square28 {
    height: 50px;
    width: 50px;
    background-color: #f3f9f4;
    border-style: solid;
    border-color: #000000;
  } 

  .square29 {
    height: 50px;
    width: 50px;
    background-color: #f8f6f0;
    border-style: solid;
    border-color: #000000;
  } 
</style>