      <div>
      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Overview
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="gtl-context">The story so far
              </a>
            </li>
            <li>
              <a href="overview">What is a Geospatial Register?
              </a>
            </li>
        </ul>
        </nav>
        </aside>

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Key areas
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="rasters">Rasters
              </a>
            </li>
            <li>
              <a href="transform-tmf">Transform TMF
              </a>
            </li>
            <li>
              <a href="matching">Match textual and spatial data
              </a>
            </li>
            <li>
              <a href="deeds">Deeds
              </a>
            </li>
            <li>
              <a href="visualise">Visualisation
              </a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>

