{% extends "layouts/main.html" %}

{% block stylesheets %}
{{ super() }}
  <link href="/public/css/new-style-1.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<style>
  /* .d1 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      flex-direction: column;
  }

  .options_box {
      margin-top: 20px;
  } */

  .hidden {
    display: none;
    }

    .show {
    display: inline-block;
    }
  .css-toggle:checked + .hidden {
    display: inline-block;
  }

  .image-container {
    border: 0;
    float: left;
    position: relative;
  }
  .easement-transparent {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
  }

</style>
<div class="govuk-width-container">
  <a href="caseworker-view" class="govuk-back-link">Back</a>
  <main>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter details-column scroll">
        <div id="tp-details-container">

          <head>
            <meta charset="UTF-8">
            <meta name="viewport" 
                  content="width=device-width, initial-scale=1.0">
            <title>Select All Checkbox</title>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js">
              </script>
            
          
          <div class="govuk-button-group">
            <a href="/caseworker-view-both-titles" role="button" draggable="false" class="govuk-button govuk-button--secondary" style=" margin-right:12.5px;"
            data-module="govuk-button">
            Overview
            </a>
            <a href="/caseworker-view-old-title" role="button" draggable="false" class="govuk-button govuk-button--secondary" style="background-color: #DBDAD9; margin-right:12.5px"
            data-module="govuk-button">
            Old title
          </a>
          <a href="/caseworker-view-new-title" role="button" draggable="false" class="govuk-button govuk-button--secondary" style="margin-right:12.5px"
          data-module="govuk-button">
          New title
          </a>
          </div>
          
                    <h2 class="govuk-heading-l">DX121778
                      <br>
                      <strong class="govuk-tag govuk-tag--red">
                        OLD TITLE
                  </strong>
                    </h2>

                  <div>
                    <table class="govuk-table">
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Type of title</th>
                          <td class="govuk-table__cell">Freehold</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Title class</th>
                          <td class="govuk-table__cell">Absolute</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Address</th>
                          <td class="govuk-table__cell">67 Cotham Grove</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Proprietor to be registered</th>
                          <td class="govuk-table__cell">Callum Scott</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
          
          
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                  <legend class="govuk-fieldset__legend">
                   <b>Intersecting interests</b>
                  </legend>
                  <!-- <div id="waste-hint" class="govuk-hint">
                    Select all that apply
                  </div> -->
          
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input select_all" id="select_all" name="interest" type="checkbox" value="covenant" onclick="showAll('secondOption')">
                      <label class="govuk-label govuk-checkboxes__label" for="interest">
                        Select all
                      </label>
                    </div>
                    <hr class="govuk-section-break govuk-section-break--visible" style="margin-bottom: 10px;">
                    
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input checkbox" id="interest" name="interest" type="checkbox" value="covenant" onclick="showCovenant('secondOption')">
                      <label class="govuk-label govuk-checkboxes__label" for="interest">
                        Restrictive covenant (land tinted blue)
                      </label>
                    </div>
          
                    <details class="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                         More information
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        Entry C1: A Transfer dated 24 May 1950 made between (1) David Brown and Mary Brown and (2) Jonathan Evans contains the following covenants:-<br>
                        The Purchaser with the intent to bind the land and for the benefit of the adjoining estate covenants with the Vendor as follows:<br>
                        Not to carry out any trade or business on the land shown coloured yellow on the attached plan.<br>
                        <i>Note: The land coloured yellow referred to is tinted blue on the title plan.</i>
                      </div>
                    </details>
          
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input checkbox" id="interest-2" name="interest" type="checkbox" value="easement" onclick="showEasement('secondOption')">
                      <label class="govuk-label govuk-checkboxes__label" for="interest-2">
                        Easement (land tinted brown)
                      </label>
                    </div>
                    
                    <div id="secondOption" style="display:none">
                      <input type="text" id="secondOption">
                      </div>
          
                    <details class="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                         More information
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        Entry A2: The land has the benefit of the following legal easement granted by a Transfer dated 24 May 1950 referred to in the Charges Register:- <br>
                        The Transferor grants upon the Purchaser and his successors in title for the benefit of the property hereby transferred a right of way on foot over the driveway shown coloured brown on the attached plan.<br>
                        <i>Note: The land driveway coloured brown referred to is tinted brown on the title plan.</i>
                      </div>
                    </details>
          
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input checkbox" id="interest-3" name="interest" type="checkbox" value="mines" onclick="showMines('secondOption')">
                      <label class="govuk-label govuk-checkboxes__label" for="interest-3">
                        Mines and minerals (land tinted orange)
                      </label>
                    </div>
                    
                  </div>
                </fieldset>
              </div>
          
    
        </div>
      </div>

      <div class="govuk-grid-column-three-quarters image-container">
        <img src="/public/images/old-title-base.png" alt="Map with transfer of part extent" style="width:1028px;height:720px;" class="easement-transparent"> 
        <img src="/public/images/easement-trans.png" alt="Map with transfer of part extent" style="width:1028px;height:720px;" class="hidden easement-transparent" id="brown-easement">
        <img src="/public/images/restrictive-trans.png" alt="Map with transfer of part extent" style="width:1028px;height:720px;" class="hidden easement-transparent" id="blue-covenant">
        <img src="/public/images/mines-trans.png" alt="Map with transfer of part extent" style="width:1028px;height:720px;" class="hidden easement-transparent" id="orange-mines">
      </div>
      </div>

    </div>
  </main>
</div>


<script>
          
  $(document).ready(function(){
      // Select all checkboxes
      $('#select_all').on('click', function(){
          let chk_status = this.checked;
  
          // Iterate all listed checkbox items
          $('.checkbox').each(function(){
              this.checked = chk_status;
          });
          showEasement ();
          showCovenant ();
          showMines ();
      });
      
      // Check or uncheck "select all", if one of the listed checkbox items is checked/unchecked
      $('.checkbox').on('click', function(){
          if($('.checkbox:checked').length == $('.checkbox').length){
              $('#select_all').prop('checked', true);
          }else{
              $('#select_all').prop('checked', false);
          }
      });
     
  });

  
  function showEasement (box) {
    if ($('#interest-2').is(':checked')) {
      // alert ('things');
      $('#brown-easement').addClass('show');
      $('#brown-easement').removeClass('hidden');
    }else{
      $('#brown-easement').removeClass('show');
      $('#brown-easement').addClass('hidden');
    }
    
    }

    function showCovenant (box) {
    if ($('#interest').is(':checked')) {
      // alert ('things');
      $('#blue-covenant').addClass('show');
      $('#blue-covenant').removeClass('hidden');
    }else{
      $('#blue-covenant').removeClass('show');
      $('#blue-covenant').addClass('hidden');
    }
  }

    function showMines (box) {
      if ($('#interest-3').is(':checked')) {
      // alert ('things');
      $('#orange-mines').addClass('show');
      $('#orange-mines').removeClass('hidden');
    }else{
      $('#orange-mines').removeClass('show');
      $('#orange-mines').addClass('hidden');
    }
  }

  </script>


{% endblock %}
