{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>
    
    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}

    <a class="govuk-link" href="/demo-prototype/gtl-context">Link to start demo</a>
<br>
<a class="govuk-link" href="/proof-of-concept/gtl-context">Link to PoC tests</a>
  </div>
  
</div>



{% endblock %}
